In [43]:
import pandas as pd
import numpy as np
import collections
import re

doc1 = 'Game of Thrones is an amazing tv series!'
doc2 = 'Game of Thrones is the best tv series!'
doc3 = 'Game of Thrones is so great'

l_doc1 = re.sub(r"[^a-zA-Z0-9]", " ", doc1.lower()).split()
l_doc2 = re.sub(r"[^a-zA-Z0-9]", " ", doc2.lower()).split()
l_doc3 = re.sub(r"[^a-zA-Z0-9]", " ", doc3.lower()).split()


ll = [l_doc1,l_doc2,l_doc3]
# print(l_doc1)
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(preprocessor=lambda x:x, tokenizer=lambda x:x)
# print(vectorizer.get_feature_names())
# ll=l_doc1
# ll.extend(l_doc2)
# ll.extend(l_doc3)
# ll = set(ll)
print(ll)

[['game', 'of', 'thrones', 'is', 'an', 'amazing', 'tv', 'series'], ['game', 'of', 'thrones', 'is', 'the', 'best', 'tv', 'series'], ['game', 'of', 'thrones', 'is', 'so', 'great']]

In [48]:
X = vectorizer.fit_transform(ll)
for i in range(3):
    print(i,"            ==>             ",X[i])
df_bow_sklearn = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
df_bow_sklearn

0             ==>                (0, 3)	1
  (0, 6)	1
  (0, 10)	1
  (0, 5)	1
  (0, 1)	1
  (0, 0)	1
  (0, 11)	1
  (0, 7)	1
1             ==>                (0, 3)	1
  (0, 6)	1
  (0, 10)	1
  (0, 5)	1
  (0, 11)	1
  (0, 7)	1
  (0, 9)	1
  (0, 2)	1
2             ==>                (0, 3)	1
  (0, 6)	1
  (0, 10)	1
  (0, 5)	1
  (0, 8)	1
  (0, 4)	1

   amazing  an  best  game  great  is  of  series  so  the  thrones  tv
0        1   1     0     1      0   1   1       1   0    0        1   1
1        0   0     1     1      0   1   1       1   0    1        1   1
2        0   0     0     1      1   1   1       0   1    0        1   0